@model JogoModel
@{
    ViewBag.Title = "DetalhesJogo";
}

<h2>DetalhesJogo</h2>

<ul>
    <li>@Model.Nome</li>
    <li>@Model.Descricao</li>
    <li>@Model.Categoria</li>
    <li>@Model.Preco</li>
    <li>@Model.Selo</li>
</ul>

@Html.ActionLink("Voltar", "JogosDisponiveis", "Relatorio")